html, body, div, span, ul, li h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}

body {font: 16px Georgia, serif; padding: 20px;}

a {color: #234399;text-decoration: none;}
a:hover {color: #000;}
a:active {color: #5C6984;}

small {color: #666;}

ul {list-style-type: none;}

#menu {float: left; width: 130px;}

#content {margin-left: 150px;}

label, .label {display: block;}

input[type=text] {font: inherit; padding: 3px; width: 200px;}
textarea {font: inherit; height: 250px; width: 400px;}

