{% extends "base.html" %}

{% block content %}
<table>
	<thead>
		<tr>
			{% for f in fields %}
				<td>{{f.name}}</td>
			{% endfor %}
				<td colspan="2">
					<a href="/admin/edit/{{model}}">Add</a>
				</td>
		</tr>
	</thead>
	<tbody>
	{% for item in items %}
		<tr>
			{% for field in item.fields %}
			<td>
				{{ field }}
			</td>
			{% endfor %}
			<td><a href="/admin/edit/{{model}}/?id={{item.id}}">Edit</a></td>
			<td><a href="/admin/delete/{{model}}/?id={{item.id}}">Delete</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}