{% extends "base.html" %}

{% block content %}
	<div><a href="/admin/">Models</a></div>

<!-- <table>
	<thead>
		<tr>
			{% for f in fields %}
				<td>{{f.name}}</td>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for item in items %}
		<tr>
			<td>
				{{ item }}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table> -->

<ul>
{% for item in items %}
	<li><a href="/admin/edit/{{ model }}/?id={{item.id}}">{{ item }}</a> - <a href="/admin/delete/{{model}}/?id={{item.id}}">Delete</a></li>
{% endfor %}
</ul>

<a href="/admin/edit/{{ model }}">Add</a>

{% endblock %}