body, div, ul, li, h1, h2, h3, h4, h5, h6, a, span, img {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: normal;}

/* tags */
ul {list-style-type: none;}
img, a {border: none; outline: 0;}

/* links */
a {color: #fff; text-decoration: none;}
a:hover {color: #A8332F;}

/* form */
input, textarea {background: #ddd; border: 0; display: block; font-size: 14px; margin: 5px; outline: 0; padding: 3px; width: 95%;}
textarea {height: 200px;}
input:focus, textarea:focus {background: #fff;}

/* structure */
body {background-color: #000; color: #eee; font: 16px "Lucida Grande", "Lucida Sans Unicode", sans-serif; overflow: hidden;}

#home {left: 0px; position: absolute; right: 0px; top: 0px;}

#content {margin: 0 auto; position: relative; text-align: center; width: 500px; z-index: 1;}

#title {background-image: url(/static/front/img/title.png); height: 141px; margin: 20px auto; width: 300px;}

#menu {border-top: 1px solid #fff; margin-top: -20px; padding: 50px 0;}
#menu li {font-size: 20px; padding-bottom: 10px;}

#contact {margin-top: 20px; text-align: left;}
#contact li {float: left; margin: 10px 10px; width: 45%;}
#contact span, #contact a {color: #ccc; display: block; font-size: 12px;}
#contact .title {color: inherit; font-size: 18px;}

.aside {background-image: url(/static/front/img/px.png); color: #eee; padding: 15px; position: absolute; z-index: 20;}
.aside h1 {font-size: 18px; margin: -10px 0 10px 0;}
#musique {left: 0px; text-align: center; top: 0px; width: 300px;}

#newsletter {margin: 10px auto;}
#newsletter input {display: inline; width: 150px;}

#guestbook_form {display: none; margin: 10px auto; width: 200px;}

#agenda {right: 0px; top: 0px; width: 270px;}
#agenda li {margin: 10px 0; text-align: center;}
#agenda h1 {text-align: right;}
#agenda .place {font-size: 18px; display: block;}
#agenda .title, #agenda .date {color: #ccc; display: block; font-size: 14px;}

.background {height: 800px; position: absolute; top: 0; z-index: 10;}
#back-left {background-image: url(/static/front/img/rideaux-left.png); left: -200px; width: 514px;}
#back-right {background-image: url(/static/front/img/rideaux-right.png); right: -200px; width: 501px;}

p {color: #bbb; font-size: 12px; line-height: 1.5em;}

/* pages */
#pages {display: none; padding: 20px;}
#page_menu {height: 40px; margin: 0 0 20px 0; text-align: center;}
#page_menu li {display: inline; margin: 0 10px;}
.pages-background {background: #000 url() no-repeat scroll 0px 0px; display: none; opacity: 0.6; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -10;}
#pages .menu {float: left; width: 100px;}
#pages .view {margin-left: 100px;}

#bio {font-size: 14px; position: absolute; right: 20px; top: 50px; width: 700px;}
#bio-background {background-image: url(/static/front/img/pages/tripin.jpg); background-position: -200px 0px;}

#albums {float: left; width: 100px;}
#album {margin-left: 120px;}
#album img {float: left; margin: 0 10px;}
#album h1 {font-size: 24px; margin: 0 0 10px 0;}
#album ul {margin-left: 330px;}
#music-background {background-image: url(/static/front/img/pages/peur.jpg); background-position: top right;}

#choice {background-color: #222; height: 110px; margin: 0 auto; text-align: center; width: 360px; border-radius: 30px;}
#choice a {color: #ccc; display: block; float: left; margin: 16px 0; height: 65px; width: 120px;}
#choice span {display: none;}
#choice img {height: 65px;}

#photo h1 {font-size: 1.5em;}
#photo h2 {display: inline;}
#photo h3 {display: inline;}
#photo div {margin-top: 20px;}
#photo a {display: block; float: left; margin: 0 10px 5px 0;}
#photo-background {background-image: url(/static/front/img/pages/joie.jpg); background-position: top right; right: -350px;}

#video-background {background-image: url(/static/front/img/pages/surprise.jpg); background-position: top right;}

#presse-background {background-image: url(/static/front/img/pages/colere.jpg); background-position: top right; right: 0px}

#guestbook {margin: 0 auto; width: 500px;}
#guestbook div {}
#guestbook-background {background-image: url(/static/front/img/pages/rideau.jpg); background-position: top center; opacity: 0.4;}


/* generic classes */
.small {font-size: 0.8em;}
.block {display: block;}