body, div, ul, li, h1, h2, h3, h4, h5, h6, a, span, img {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: normal;}

/* tags */
ul {list-style-type: none;}
img, a {border: none; outline: 0;}
p {color: #bbb; font-size: 12px; line-height: 1.5em; text-align: left;}

/* links */
a {color: #fff; text-decoration: none;}
a:hover {color: #A8332F;}

/* form */
input, textarea {border: 0; display: block; font-size: 14px; margin: 5px; outline: 0; padding: 3px; width: 95%;}
textarea {height: 200px;}


/* main content */
body {background-color: #000; color: #eee; font: 16px "Lucida Grande", "Lucida Sans Unicode", sans-serif; min-width: 800px; overflow-x: hidden;}

#content {margin: 0 auto; text-align: center; width: 600px; z-index: 1;}

#title {background: #000 url(/static/front/img/title.png) no-repeat scroll top center; border-bottom: 1px solid #fff; height: 141px; margin: 20px auto; width: 600px;}

#menu {margin: -42px 0 0 0;}
#menu li {float: left; font-size: 16px; margin-right: 20px;}

#page {margin: 60px 0 0 0;}


/* sidebars */
.aside {color: #eee; height: 800px; overflow: hide; position: fixed; z-index: 20;}
.aside h1 {font-size: 18px; margin: 5px 5px 10px 0;}
.aside a:hover {color: #ddd;}

#sidebar {background: #000 url(/static/front/img/rideaux-left.png) no-repeat scroll -265px 0px; left: 0; text-align: center; top: 0; width: 250px;}

#player {background-color: transparent; height: 100px; margin: 15px 0; width: 200px;
		border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px;}

#links li {margin: 5px 0;}

#newsletter {margin-top: 10px;}
#newsletter input {display: inline; width: 150px;}

#guestbook_form {display: none; margin: 10px auto; width: 200px;}

#webmaster {bottom: 0; color: #666; font-size: 12px; left: 20px; position: absolute;}
#webmaster a {color: #aaa;}
#webmaster a:hover {color: #fff;}


#agenda {background: #000 url(/static/front/img/rideaux-right.png) no-repeat scroll 0px 0px; right: 0px; top: 0px; width: 250px;}
#agenda li {margin: 10px 0; text-align: center;}
#agenda h1 {text-align: right;}
#agenda .place {font-size: 18px; display: block;}
#agenda .title, #agenda .date {color: #ccc; display: block; font-size: 14px;}

#logos {opacity: 0.5; position: absolute; right: 20px; top: 640px; z-index: 19;}
#logos img {display: block; margin: 5px 0;}


/* pages */
#page {text-align: left;}
#page .nav {margin: 0 0 20px 0;}
#page .nav li {float: left; margin: 0 10px 0 0;}
#page .menu {float: left; width: 150px;}
#page .below {clear: left; padding: 10px 0;}
#page .side {margin-left: 160px;}
#page h1 {font-size: 24px; margin: 0 0 5px 0;}
#page h2 {color: #ccc; font-size: 14px;}

#contact {border-top: 1px solid #fff; margin-top: 20px; padding: 10px 0; text-align: left;}
#contact li {float: left; margin: 0 10px 10px 0; width: 45%;}
#contact span, #contact a {color: #ccc; display: block; font-size: 12px;}
#contact a:hover {color: #a8332f;}
#contact .title {color: inherit; font-size: 18px;}

#album img {float: left; margin: 0 15px 0 0;}
#album ul {margin-left: 215px;}

#text h1 {font-size: 20px;}
#text h2 {color: #ccc; font-size: 18px;}

#choice {margin: 0 auto; text-align: center; width: 360px;}
#choice a {color: #ccc; display: block; float: left; margin: 16px 0; height: 65px; width: 120px;}
#choice span {display: none;}
#choice img {height: 65px;}

#photo h2 {display: inline;}
#photo h3 {display: inline;}
#photo div {margin-top: 20px;}
#photo a {display: block; float: left; margin: 0 10px 5px 0;}

#guestbook {margin: 0 auto; width: 500px;}
#guestbook div {margin: 20px 0;}


/* generic classes */
.small {font-size: 0.8em;}
.block {display: block;}