body, div, ul, li, h1, h2, h3, h4, h5, h6, a, span, img {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: normal;}

/* tags */
ul {list-style-type: none;}
img, a {border: none; outline: 0;}
p {color: #bbb; font-size: 12px; line-height: 1.5em;}

/* links */
a {color: #fff; text-decoration: none;}
a:hover {color: #A8332F;}

/* form */
input, textarea {border: 0; display: block; font-size: 14px; margin: 5px; outline: 0; padding: 3px; width: 95%;}
textarea {height: 200px;}


/* structure */
body {background-color: #000; color: #eee; font: 16px "Lucida Grande", "Lucida Sans Unicode", sans-serif; min-width: 800px; overflow-x: hidden;}

#home {left: 0px; position: absolute; right: 0px; top: 0px;}

#content {margin: 0 auto; position: relative; text-align: center; width: 500px; z-index: 1;}

#title {background-image: url(/static/front/img/title.png); height: 141px; margin: 20px auto; width: 300px;}

#menu {border-top: 1px solid #fff; margin-top: -20px; padding: 50px 0;}
#menu li {font-size: 20px; padding-bottom: 10px;}

#contact {margin-top: 20px; text-align: left;}
#contact li {float: left; margin: 10px 10px; width: 45%;}
#contact span, #contact a {color: #ccc; display: block; font-size: 12px;}
#contact a:hover {color: #fff;}
#contact .title {color: inherit; font-size: 18px;}

.aside {color: #eee; position: absolute; z-index: 20;}
.aside h1 {font-size: 18px; margin: 5px 5px 10px 0;}
.aside a:hover {color: #ddd;}

#sidebar {left: 0px; text-align: center; top: 130px; width: 300px;}

#player {background-color: transparent; height: 100px; left: 50px; margin: 5px 0; position: absolute; top: 20px; width: 200px; z-index: 25;
		border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px;}

#links li {margin: 5px 0;}

#newsletter {margin: 10px auto;}
#newsletter input {display: inline; width: 150px;}

#guestbook_form {display: none; margin: 10px auto; width: 200px;}

#agenda {right: 0px; top: 0px; width: 270px;}
#agenda li {margin: 10px 0; text-align: center;}
#agenda h1 {text-align: right;}
#agenda .place {font-size: 18px; display: block;}
#agenda .title, #agenda .date {color: #ccc; display: block; font-size: 14px;}

#webmaster {color: #666; font-size: 12px; left: 40px; position: absolute; top: 760px; z-index: 19;}
#webmaster a {color: #aaa;}
#webmaster a:hover {color: #fff;}

#logos {opacity: 0.5; position: absolute; right: 20px; top: 640px; z-index: 19;}
#logos img {display: block; margin: 5px 0;}

.background {height: 800px; position: absolute; top: 0; z-index: 10;}
#back-left {background-image: url(/static/front/img/rideaux-left.png); left: -200px; width: 514px;}
#back-right {background-image: url(/static/front/img/rideaux-right.png); right: -200px; width: 501px;}

/* pages */
#pages {background: #000; bottom: 0; display: none; left: 0; padding: 20px; position: absolute; right: 0; top: 0; z-index: 30;}
#page_menu {height: 40px; margin: 0 0 20px 0; text-align: center;}
#page_menu li {display: inline; margin: 0 10px;}
#retour {left: 10px; position: absolute; top: 20px;}
.pages-background {background: #000 url() no-repeat scroll 0px 0px; display: none; opacity: 0.6; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -10;}
#pages .menu {float: left; width: 150px;}
#pages .menu li {margin: 10px 0;}
#pages .view {margin-left: 160px;}
#pages .view h1 {font-size: 24px;}
#pages .view h2 {color: #ccc; font-size: 16px;}

#bio {font-size: 14px; position: absolute; right: 20px; top: 50px; width: 700px;}
#bio-background {background-image: url(/static/front/img/pages/tripin.jpg); background-position: -200px 0px;}

#albums {float: left; width: 100px;}
#album {margin-left: 120px;}
#album img {float: left; margin: 0 10px;}
#album h1 {margin: 0 0 10px 0;}
#album ul {margin-left: 330px;}
#music-background {background-image: url(/static/front/img/pages/peur.jpg); background-position: top right;}

#text h1 {font-size: 20px;}
#text h2 {color: #ccc; font-size: 18px;}
#text-background {background-image: url(/static/front/img/pages/cover.jpg); background-position: top right; right: -200px;}

#choice {margin: 0 auto; text-align: center; width: 360px;}
#choice a {color: #ccc; display: block; float: left; margin: 16px 0; height: 65px; width: 120px;}
#choice span {display: none;}
#choice img {height: 65px;}

#photo h2 {display: inline;}
#photo h3 {display: inline;}
#photo div {margin-top: 20px;}
#photo a {display: block; float: left; margin: 0 10px 5px 0;}
#photo-background {background-image: url(/static/front/img/pages/joie.jpg); background-position: top right; right: -350px;}

#video-background {background-image: url(/static/front/img/pages/surprise.jpg); background-position: top right;}

#presse-background {background-image: url(/static/front/img/pages/colere.jpg); background-position: top right; right: 0px}

#guestbook {margin: 0 auto; width: 500px;}
#guestbook div {margin: 20px 0;}
#guestbook-background {background-image: url(/static/front/img/pages/rideau.jpg); background-position: top center; opacity: 0.4;}


/* generic classes */
.small {font-size: 0.8em;}
.block {display: block;}