<!DOCTYPE html>

<html>
<head>
	<title>Trip in</title>
	
	<link rel="stylesheet" href="/static/front/css/main.css" type="text/css" media="all" charset="utf-8">
	<link rel="stylesheet" href="/static/front/css/jquery.lightbox-0.5.css" type="text/css" media="all" charset="utf-8">
</head>
<body>
	<div id="home">
		<div id="content">
			<div id="title"></div>
			
			<ul id="menu">
				<li><a href="#/bio">Biographie</a></li>
				<li><a href="#/music">Musique</a></li>
				<li><a href="#/texts">Textes</a></li>
				<li><a href="#/media">Media</a></li>
			</ul>
		
			{{#contacts}}
			<ul id="contact">
				<li>
					<span class="title">{{title}}</span>
					<span class="name">{{name}}</span>
					<span class="phone">{{phone}}</span>
					<a href="mailto:{{email}}" class="email">{{email}}</a>
				</li>			
			</ul>
			{{/contacts}}
		</div>
	
		<div id="musique" class="aside">
			<object type="application/x-shockwave-flash" data="/static/player_multi.swf" id="player">
			    <param name="movie" value="player_multi.swf" />
			    <param name="FlashVars" value="{{{player}}}&amp;config=/static/front/player.txt" />
			</object>
			
			<form action="/newsletter" method="get" id="newsletter">
				<input type="text" name="email" placeholder='email' />
				<button type="submit">S'inscrire &agrave; la newsletter</button>
				<span id="confirm"></span>
			</form>
			
			<a href="#/guestbook/new" id="guestbook_link">Laissez-nous un message</a>
			<a href="#/guestbook" class="small block">Voir tous les messages</a>
			<form action="guestbook" id="guestbook_form" method="post">
				<input type="text" name="name" placeholder="Nom">
				<textarea name="text"></textarea>
				<button type="submit">Envoyer</button>
			</form>
		</div>
		
		<ul id="agenda" class="aside">
			<h1>Agenda</h1>
		
			{{#agenda}}
			<li>
				<span class="place">{{place}}</span>
				<span class="title">{{title}}</span>
				<span class="date">{{date}}</span>
			</li>
			{{/agenda}}
		</ul>
	
		<div id="back-left" class="background"></div>
		<div id="back-right" class="background"></div>
	</div>
	
	<div id="pages">
		<ul id="page_menu">
			<li><a href="#/bio">Biographie</a></li>
			<li><a href="#/music">Musique</a></li>
			<li><a href="#/texts">Textes</a></li>
			<li><a href="#/media">Media</a></li>
			<li><a href="#/">Retour</a></li>
		</ul>
	
		<div id="page"></div>
	</div>
	
	<script src="/static/front/js/ext/jquery-1.4.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/ext/jquery.hashlisten.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/ext/mustache.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/ext/jquery.jplayer.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/ext/jquery.lightbox-0.5.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>