<!DOCTYPE html>

<html>
<head>
	<title>Trip in</title>
	
	<link rel="stylesheet" href="/static/front/css/main.css" type="text/css" media="all" charset="utf-8">
	<link rel="stylesheet" href="/static/front/css/jquery.lightbox-0.5.css" type="text/css" media="all" charset="utf-8">
</head>
<body>
	<div id="content">
		<div id="title"></div>
		
		<ul id="menu">
			<li><a href="#/home">Home</a></li>
			<li><a href="#/bio">Biographie</a></li>
			<li><a href="#/music">Musique</a></li>
			<li><a href="#/texts">Textes</a></li>
			<li><a href="#/media">Media</a></li>
		</ul>
		
		<!-- main content -->
		<div id="page"><center>Bienvenue chez Trip In</center></div>
	</div>
	
	<!-- player & aside -->
	<div id="sidebar" class="aside">
		<object type="application/x-shockwave-flash" data="/static/player_multi.swf" id="player">
		    <param name="movie" value="player_multi.swf" />
		    <param name="FlashVars" value="{{{player}}}&amp;config=/static/front/player.txt" />
		</object>
		
		<ul id="links">
		{{#links}}
			<li><a href="{{link}}">{{title}}</a></li>
		{{/links}}
		</ul>
		
		<form action="/newsletter" method="get" id="newsletter">
			<input type="text" name="email" placeholder='email' />
			<button type="submit">S'inscrire &agrave; la newsletter</button>
			<span id="confirm"></span>
		</form>
		
		<a href="#/guestbook/new" id="guestbook_link">Laissez-nous un message</a>
		<a href="#/guestbook" class="small block">Voir tous les messages</a>
		<form action="guestbook" id="guestbook_form" method="post">
			<input type="text" name="name" placeholder="Nom">
			<textarea name="text"></textarea>
			<button type="submit">Envoyer</button>
		</form>
		
		<div id="webmaster">Website par <a href="http://damienfir.github.com">Damien Firmenich</a></div>
	</div>
	
	<!-- agenda -->
	<div id="agenda" class="agenda aside">
		<h1>Agenda</h1>
		
		<ul>
		{{#agenda}}
			<li>
				<div class="place"><a href="#">{{place}}</a></div>
				<div class="title infos">{{title}}</div>
				<div class="date infos">{{date}}</div>
			</li>
		{{/agenda}}
			<li><a href="#/agenda" class="all">Voir tout l&#x27;agenda</a></li>
		</ul>
		
		<div id="logos">
			<img src="/static/front/img/logos/loterie.jpg">
			<img src="/static/front/img/logos/fcma.jpg">
		</div>
	</ul>
	
	
	<script src="/static/front/js/ext/jquery-1.4.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/ext/jquery.hashlisten.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/ext/mustache.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/ext/jquery.jplayer.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/ext/jquery.lightbox-0.5.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/front/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>